@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MusicStoreAdminApp.Models.UserPlaylist

<div class="container">
    <div>
        <p>Playlist made by: @Model.Owner </p>
    </div>

    @for(int i=0;i<Model.TracksInPlaylist.Count(); i++)
    {
        var item = Model.TracksInPlaylist.ElementAt(i).Track;
        if(i % 3 == 0)
        {
            @:<div class="row">
        }
        <div class="col-3 m-4">

            <div class="card" style="width: 18rem; height: 35rem">
                <div class="card-body">
                    <h5 class="card-title">@item.TrackName</h5>
                    <p class="card-text">@item.Album.AlbumName</p>
                    <h6>Rating: @item.Rating /10</h6>
                </div>

            </div>
        </div>

        if(i % 3 == 2)
        {
            @:</div>
        }
    }
</div>