################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MusicStoreApp/FileContentIndex/2bea83c1-0f79-46ff-8616-c853679afaa3.vsidx
/.vs/MusicStoreApp/FileContentIndex
